.provider-name {
  position: relative;
  padding: 0;
  margin: 15px;
  width: 100px;
  height: 70px;
  font-size: 25px;
  padding-top: 15px;
  text-transform: capitalize;
}

.CodeMirror-gutter-wrapper {
  position: absolute;
}

div.CodeMirror {
  height: 250px;
  overflow-y: auto;
  font-size: 13px;
  background-color: rgba(155, 155, 155, 0.05);
  border-color: transparent;
  box-shadow: none;
}

div.main-loading-container {
  position: relative;
  height: 20px;
}

.form-group {
   margin-bottom: 0;
}

.form-control {
  background-color: rgba(155, 155, 155, 0.05);
  border-color: transparent;
  border-radius: 3px;
  box-shadow: none;
  height: 46px;
  padding: 12px;
}

.form-control:focus {
  border-color: #00ADB5;
  box-shadow: none;
}

.help-block {
  font-size: 14px;
  padding-left: 12px;
  padding-top: 2px;
}

@media (min-width: 768px)
.control-label {
  line-height: 46px;
  padding-top: 0 !important;
}

@media (min-width: 768px)
.form-horizontal .control-label {
  padding-top: 7px;
  margin-bottom: 0;
  text-align: right;
}

@media (min-width: 768px)
.form-group .col-left {
  padding-right: 7.5px;
}

.control-label {
  line-height: 35px;
  color: #000;
  font-size: 12px;
}

.modal-lg {
  max-width: 900px !important;
}

@media (min-width: 992px) {
  .modal-lg {
    width: 900px !important;
  }
}

