.provider-name {
  position: relative;
  padding: 0;
  margin: 15px;
  width: 100px;
  height: 70px;
  font-size: 25px;
  padding-top: 15px;
  text-transform: capitalize;
}

.confetti-ball {
  height: 1.5em;
  width: 1.5em;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  vertical-align: middle;
  background-image:url("confetti_ball.png")
}

div.CodeMirror {
  height: 125px;
  overflow-y: auto;
  font-size: 13px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

div.main-loading-container {
  position: relative;
  height: 20px;
}
