extends ./layout.jade

block title
  title Custom OAuth2 Connections

block content
  script(type="text/javascript").
    window.env = {
      webtasks: {
        shareUrl:     'https://webtask.it.auth0.com/api/run/wt-centurion_javier-gmail_com-0/custom-connections/share?webtask_no_cache=1',
        templatesUrl: 'https://webtask.it.auth0.com/api/run/wt-centurion_javier-gmail_com-0/custom-connections/sync?webtask_no_cache=1'
      }
    };
  script(src='@assets_baseurl/scripts/bundle.js')
