extends ./layout.jade

block title
  title My Extension

block content
  script(type="text/javascript").
    window.env = {
      webtasks: {
        shareUrl:     'https://webtask.it.auth0.com/api/run/wt-centurion_javier-gmail_com-0/share-task?webtask_no_cache=1',
        templatesUrl: 'https://webtask.it.auth0.com/api/run/wt-centurion_javier-gmail_com-0/sync?webtask_no_cache=1'
      }
    };
  script(src='@assets_baseurl/scripts/bundle.js')
