doctype html
html
  head
    block title
      title Auth0 Extension
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=Edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='#{description}')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='shortcut icon', href='https://cdn.auth0.com/styleguide/2.0.1/lib/logos/img/favicon.png')
    link(rel='apple-touch-icon', href='apple-touch-icon.png')

    link(rel='stylesheet', type='text/css', href='https://cdn.auth0.com/manage/v0.3.973/css/index.min.css')
    link(rel='stylesheet', type='text/css', href="https://cdn.auth0.com/styleguide/latest/index.css")


    link(rel='stylesheet', type='text/css', href='@assets_baseurl/@extension_name.min.css')

    script(type='text/javascript', src='https://code.jquery.com/jquery-2.1.4.min.js')
    script(type='text/javascript', src='https://fb.me/react-0.14.0.min.js')
    script(type='text/javascript', src='https://fb.me/react-dom-0.14.0.js')
    script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js')
    script(type='text/javascript', src='https://cdn.auth0.com/js/jwt-decode-1.4.0.min.js')
    script(type='text/javascript', src='https://cdn.auth0.com/js/navbar-1.0.1.min.js')

    script(type='text/javascript').
      if (!sessionStorage.getItem("token")) {
        window.location.href = '#{baseUrl}/login';
      }

body.a0-extension
  header.dashboard-header
    nav.navbar.navbar-default(role='navigation')
      .container
        .navbar-header
          h1.navbar-brand
            a(href='http://manage.auth0.com/')
              span Auth0
        #navbar-collapse.collapse.navbar-collapse
          script(type='text/babel').
            ReactDOM.render(
              <Navbar baseUrl="#{baseUrl}"/>,
              document.getElementById('navbar-collapse')
            );

  .container
    .row
      section.content-page.current
        .col-xs-12
          .row
            .col-xs-12.content-header
              ol.breadcrumb
                li
                  a(href='https://manage.auth0.com/login') Auth0 Dashboard
                li
                  a(href='https://manage.auth0.com/extensions') Extensions

       #content-area.tab-content
        block content
