extends layout

block content
  script.
    window.context = {
      accessToken: '#{context.accessToken}',
      apiPath:     '#{context.apiPath}',
      baseUri:     '#{context.baseUri}',
      clientId:    '#{context.clientId}'
    };

  #content

  script(src="https://code.jquery.com/jquery-2.1.4.min.js")
  script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha256-Sk3nkD6mLTMOF0EOpNtsIry+s1CsaqQC1rVLTAy+0yc= sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous")
  script(src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.7.0/codemirror.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.7.0/mode/javascript/javascript.js")
  script(src="http://fb.me/react-0.13.1.js")
  script(src="http://fb.me/JSXTransformer-0.13.1.js")

  script(type="text/javascript" src="scripts/services/ApiConnection.js")
  script(type="text/jsx" src="scripts/components/text-editor.jsx")
  script(type="text/jsx" src="scripts/components/try-it.jsx")
  script(type="text/jsx" src="scripts/components/deleteconfirm.jsx")
  script(type="text/jsx" src="scripts/components/modal.jsx")
  script(type="text/jsx" src="scripts/components/form.jsx")
  script(type="text/jsx" src="scripts/components/info.jsx")
  script(type="text/jsx" src="scripts/components/row.jsx")
  script(type="text/jsx" src="scripts/components/home.jsx")
  script(type="text/jsx" src="scripts/app.jsx")
